
 body {
    color: #777777;
    overflow:hidden;
    line-height: 175%;
    columns: #777777;
    font-size: 18px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    border: 2px solid rgb(113, 20, 220);
    
      } 

      .content {

        
      }

    .name{
        background-color: #ffffff;
        border-bottom: 2px solid #cccccc;
        border: 2px solid rgb(20, 220, 63);
        
    }
      
      .hgroup {
          display: flex;
          
          justify-content: space-between;
          font-family: 'Georgia', Times, 'Times New Roman', serif;
          border: 2px solid rgb(9, 10, 4);
          margin-left: 480px;
          margin-right: 480px;
          
      
      }
    
    
      h1 {
    color: #ffffff;
    background: #4aaaa5;
    text-align: center;    
    padding: 30px;
    border: 2px solid crimson;
    margin-bottom: 0px;
 
    
    
      
      }


       
      .navigation{        
        list-style-type: none;
        display: flex;
        align-self: flex-end;
        align-items: flex-end;
        
        

        
             
         }


     .box3{
        margin-right: 30px; 
     }


     .box4{
        margin-right: 30px;
  
    }   

    .box5{
 
    }          
    
    
      h2 {    
    color: #4aaaa5;
    margin-left: 480px;
      }
    
    
    
    .container {
    width: 960px;
    margin-left: 480px;
    border: 2px solid rgb(220, 20, 20);
       }

 
    
    a {
    color: #dddddd;
    }


    .box1{
        
        width: 150px; 
        float: left;
        margin-right: 20px;
        margin-top: 25px;
        }


    .box2{
        margin: 0px;
        align-self: flex-end;
        border-top: #dddddd;
        align-items: flex-end;
    }


    .footer{
        font-size: 12px;
        background-color: #666666;
        height: 50px;        
        border-top: 8px solid #4aaaa5;
        color:  #777777;        
        margin-top: 50px;

    
    }


